@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #121212;
    --foreground: #ffffff;
  }

  body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar invisible */
  }

  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
